html, body {
  background-image: linear-gradient(to top, #b38ce6, #8cd2e6);
  width: 100%;
  height: 100%;
  max-height:100%;
  max-width:100%;
  overflow: hidden;
  margin: 0;
}
h1 {
  color: blue;
}
p {
  color: red;
}
table, th, td {
  border:1px solid black;
  text-align: center;
  
}
table {
  width: 100%;
}body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}
td {
  height: 112px;
}

table, th, td {
  border:1px solid black;
}
